<!doctype html>
<html lang="en">
<html>
    <head>
        <title>Resultados del analisis</title>
        <link rel="stylesheet" href="//i.lenguajehtml.com/css/index.min.css">
  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
    <body>
        <footer class="main">
            <div class="square">
              <h2>IDE JustOnline</h2>
            </div>
        </footer>
        <div class="container row">
          <div class="col-sm-8">
           
          </div>
          <div class="col" >
              </br>
              <h3>! sintasis correcta ¡</h3>
              <img src="/static/imgs/correcto.png" >
              </br>
              </br>
              </br>
      
              <a class="btn btn-primary" href="/" role="button">Escribir de nuevo el codigo</a>
            </br>
          </br>
          </div>
      </div>

        <footer class="main">
            <div class="square">
              <h2>Lenguaje JLine</h2>
              <p>Interprete para el curso de 'Compiladores'  presentado a ING.  Daniel González</p>
              <p id="footer">Creado y mantenido por <a href="">@Maria_Fernanada y @Shirley_Manrique</a> con <span class="❤"><i class="fa fa-heart" title="<3"></i></span></p>
              <div class="icons">
                
                <a href="#" title="GitHub"><i class="fab fa-2x fa-github"></i></a>
                <a href="#" title="Linkedin"><i class="fab fa-2x fa-linkedin-in"></i></a>
                <a href="#" title="Emezeta.com"><i class="fas fa-2x fa-globe-americas"></i></a>
              </div>
              
            </div>
          </footer>

    </body>
</html>